* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.page-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #00000000;
}

.search-form,
.search-header,
.page-header,
.search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  position: static;
}

.page-header {
  background-color: rgba(0, 0, 0, 0.555);
  width: fit-content;
  padding: 1%;
  position: relative;
  color: white;
}

.search-form {
  background-color: rgba(0, 0, 0, 0.555);
  position: relative;
  color: white;
  text-shadow: 3px 3px 3px black;
  padding: 2%;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.548);
}

.search-container {
  width: 100%;
  margin-top: 5%;
}
.search-header {
  color: white;
}

#scroll-btn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 40px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;

  border-radius: 4px;
}

#scroll-button:hover {
  background-color: #555;
}

.results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100%;
  position: relative;
}

.search-result {
  background-color: black;
  color: white;
  border: 4px solid rgb(35, 56, 172);
  border-radius: 2px;
  width: 500px;
  margin: auto;
  box-shadow: 2px 2px 2px rgba(94, 36, 187, 0.295);
  margin-bottom: 1%;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.info-container {
  background-color: rgba(125, 68, 238, 0.678);
  color: black;
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.image-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;

  width: 100%;
  padding: 3%;
}

/* svg.bi.bi-heart-fill {
  border-radius: 20%;
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
} */

.like-btn {
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.like-btn:hover {
  color: red;
  background-color: white;
}

.like-btn.favorite {
  color: red;
}

.like-btn.favorite:hover {
  color: red;
}

body > form > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@media (max-width: 767px) {
  #myVideo {
    display: none;
  }
  body {
    background: url("nebulaIMG.png");
    background-size: cover;
  }
}
