* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.page-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #00000000;
}

.search-form,
.search-header,
.page-header,
.search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  height: 300px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.page-header {
  margin: 10%;
}

.search-form {
  background-color: #ede8f6;
  padding: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

.search-container {
  width: 100%;
  margin-top: 5%;
}
.search-header {
  color: white;
}
.search-result {
  margin-bottom: 100%;
  height: 100%;
}

#scroll-btn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 40px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;

  border-radius: 4px;
}

#scroll-button:hover {
  background-color: #555;
}

.results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100%;
}

.search-result {
  background-color: #bab2cf;
  border: 1px solid black;
  border-radius: 2px;
  width: 500px;
  margin: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.like-btn {
  border: none;
  width: fit-content;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.like-btn:hover {
  color: red;
}

.like-btn.favorite {
  color: red;
}

.like-btn.favorite:hover {
  color: red;
}

body > form > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
