{% load static %}
{% load bootstrap4 %}
{% load bootstrap_icons %}
<script src="{% static 'likeAction.js' %}"></script>
<link rel="stylesheet" href="{%static 'base.css'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<video autoplay muted loop id="myVideo">
  <!-- Video by <a href="https://pixabay.com/users/mikkehouse-3374228/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=25047">mike lacoste</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=25047">Pixabay</a> -->
  <source src="{% static 'Nebula - 25047.mp4'%}" type="video/mp4">
</video>
<div class="page-container">
  <button onclick="handleScroll()" id="scroll-btn"> {% bs_icon 'arrow-up-square' size='1.5em'%}</button>
  <div class="header-container">
<h1 class="page-header">Spacetagram</h1>
<h2 class="page-header">Search for NASA images and save the ones you like!</h2>
</div>




<div class="results-container">
  <div class="search-container">
    <form method='POST' action="" class="search-form">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Search" class="search-btn">
    </form>
    </div>
<h2 class="search-header">Search Results:</h2>
{% for result in all_results%}
<div class="search-result">
<div class="image-container">
<image src="{{result.0.links.0.href}}" class="image"></image>
</div>

<a href="{{result.0.links.0.href}}" class="image-link" target="_blank">go to image</a>
<h3>{{result.0.data.0.title}}</h3>
<div class="info-container">
<p class="date">Date: {{result.0.data.0.date_created.0}}{{result.0.data.0.date_created.1}}{{result.0.data.0.date_created.2}}{{result.0.data.0.date_created.3}}{{result.0.data.0.date_created.4}}{{result.0.data.0.date_created.5}}{{result.0.data.0.date_created.6}}{{result.0.data.0.date_created.7}}{{result.0.data.0.date_created.8}}{{result.0.data.0.date_created.9}}</p>
<p class="description">{{result.0.data.0.description}}</p>
</div>
<div class="btn-container">
  <button onclick="handleLike(event)" id="{{result.0.links.0.href}}" class="like-btn{{result.1}}">{% bs_icon 'heart-fill' size='6em'%}</button>
  </div>
</div>

<br>
{% endfor %}

</div>

</div>